.metric-icons-container {
    /*background-color: purple;*/
    min-width: 100%;
}

.metric-icons-ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*background-color: green;*/
    width: 100%;
}

.metric-icons-li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.metric-icons-text {
    /*background-color: purple;*/
    margin: 0 5px;
}
